body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    color: rgb(208, 215, 208);
}

something {
  color: rgb(208, 215, 208);
  color: rgb(168, 187, 168);
  color: rgb(109, 123, 109);
  color: rgb(48, 48, 48)
}